
@media (max-width: 1440px) {
    .site-header_container {
        padding: 0 40px;
    }
    .site-container_first {
        /* height: 835px; */
        margin: 0px 0px 48px;
    }
    .footer-container {
        padding: 48px 40px;
    }
    .site-container {
        padding: 48px 40px;
    }
}
@media (max-width: 1320px){
    .site-header_contacts{
        flex-wrap: wrap;
    }
    .site-header {
        height: 150px;
    }
}
@media (max-width: 1241px) {
    /* titles */
    .main-title {
        font-size: 42px;
        font-weight: 600;
    }
    .company-logo {
        margin-right: 40px;
    }
    .site-container {
        padding: 30px;
    }
    #modal_window {
        height: 800px;
    }
    .site-header_contacts {
        flex-wrap: wrap;
    }

    .site-header__bottom {
        display: none;
    }

    .site-header_container {
        padding: 0 40px;
        display: flex;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background: black;
        padding: 20px 40px;
        top: 110px;
        left: 0;
    }
    .burger_contacts {
        display: none;
    }
    .burger-icon {
        width: 30px;
        height: 20px;
        display: flex;
        align-items: center;
        position: absolute;
        top: -90px;
        right: 40px;
        margin-left: 30px;
    }
    .burger-icon span {
        display: block;
        width: inherit;
        height: 3px;
        background-color: var(--orange);
    }
    .burger-menu.active .burger-icon span {
        display: none;
    }
    .burger-icon::before {
        content: "";
        display: block;
        width: inherit;
        height: 3px;
        background-color: var(--orange);
        position: absolute;
        top: 0;
        transition: all 0.3s ease-in-out;
    }
    .burger-menu.active .burger-icon::before {
        top: 9px;
        transform: rotate(50deg);
    }
    .burger-icon::after {
        content: "";
        display: block;
        width: inherit;
        height: 3px;
        background-color: var(--orange);
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease-in-out;
    }
    .burger-menu.active .burger-icon::after {
        bottom: 8px;
        transform: rotate(-50deg);
    }
    .burger-menu__navigation {
        position: absolute;
        top: -700px;
        right: 0;
        z-index: -1;
        opacity: 0;
        background: black;
        width: 50%;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger-menu.active .burger-menu__navigation {
        top: 20px;
        opacity: 1;
    }
    .second-title {
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 30px;
    }
    .subtitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .site-header_all {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .site-header__top {
        height: auto;
        justify-content: space-between;
    }
    .site-header_contacts .site-header_link {
        margin-right: 30px;
    }
    .site-header_link,
    .site-header_link:active,
    .site-header_link:visited {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    .site-header_messengers {
        width: 200px;
        margin-right: 30px;
    }
    .company-logo {
        display: flex;
        width: 100px;
        height: 100px;
        margin-right: 50px;
    }
    .header-right{
        flex-direction: column;
        margin-top: 50px;
        align-items: start;
    }
    .site-container_first {
        position: relative;
        height: 75vh;
    }
    .banner {
        height: 100px;
    }
    .banner p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-right: 30px;
    }
    .banner-btn .btn-black {
        font-size: 16px;
        height: 60px;
    }
    .top-content_wiget {
        max-width: 860px;
    }

    .top-content_block {
        width: 300px;
    }

    .top-content_block-txt {
        width: 250px;
        margin-left: 25px;
    }

    .top-content_block p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    .top-videobg {
        top: 90px;
    }
    .about-company_top {
        max-width: 650px;
        margin: 30px auto;
    }
    .about-company_top p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .about-company_row {
        margin: 48px 0 48px;
        padding: 0 10px;
    }
    .about-company-block {
        width: 450px;
        height: 350px;
        position: relative;
        margin: 0 auto 40px;
    }
    .about-company-block:nth-child(odd) {
        margin: 0 10px 40px 0;
    }

    .about-company-block img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .services {
    }
    .services-top {
        max-width: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 48px;
    }
    .services-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }
    .service-block {
        max-width: 450px;
        width: 100%;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .service-block:hover {
        -webkit-box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
        -moz-box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
        box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
    }
    .service-block_top-hover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: 150px;
        background-color: var(--orange);
        position: absolute;
        z-index: 15;
        top: -100%;
        opacity: 0;
        visibility: hidden;
        transition: all 1 ease-in-out;
    }
    .service-block:hover .service-block_top-hover {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
    .service-block_top {
        width: inherit;
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-block_top::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        background-color: var(--shadow-black2);
    }
    .service-block_top img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }
    .service-block_top .subtitle {
        color: var(--white);
        text-transform: uppercase;
        position: absolute;
        z-index: 5;
    }
    .service-block_list {
        margin: 20px 20px 0;
    }
    .service-block_list li {
        display: flex;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .service-block_list li::before {
        content: "\2713";
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: var(--orange);
        margin-right: 10px;
    }
    .services-bottom {
        display: flex;
        justify-content: center;
    }
    .services-btn {
        width: 220px;
    }
    .our-team {
    }

    .our-team_top {
        max-width: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 48px;
    }

    .our-team-slider {
    }
    .swiper-wrapper {
    }

    .worker {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .worker-info {
        text-align: center;
    }
    .worker-info_about {
        padding: 20px;
    }
    .worker-info_img {
        width: 350px;

        position: relative;
    }
    .worker-info_img img {
        height: 450px;
    }
    .worker-info_name {
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .worker-info_position {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .worker-info_experiance {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 7px;
    }
    .worker-info_description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .our-team-slider .swiper-button-prev,
    .our-team-slider .swiper-button-next {
        color: var(--orange);
    }
   
    .promo-block {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        height: auto;
        padding: 20px;
        background-color: var(--orange-hover);
        border: 3px solid var(--black);
        border-radius: 40px;
        margin: 0 auto;
    }
    .promo-block p,
    .promo-block_list li {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
    }
    .promo-block p {
        font-weight: 500;
        margin: 0 auto 20px;
    }
    .promo-block_list li::before {
        content: "\2713";
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: var(--black);
        margin-right: 10px;
    }
    .old-price {
        font-weight: 600;
        position: relative;
        display: block;
        margin-left: 5px;
    }
    .old-price::before {
        content: "";
        display: block;
        width: 60px;
        height: 3.5px;
        background: var(--error);
        opacity: 0.7;
        transform: rotate(30deg);
        position: absolute;
        top: 10px;
        left: -10px;
    }
    .old-price::after {
        content: "";
        display: block;
        width: 60px;
        height: 3.5px;
        background: var(--error);
        opacity: 0.7;
        transform: rotate(-30deg);
        position: absolute;
        bottom: 10px;
        left: -10px;
    }
    .new-price {
        display: flex;
        align-items: center;
        color: var(--black);
        font-size: 18px;
        font-weight: 600;
        margin: 0 auto;
    }
    .circle-wrapper {
        position: relative;
        width: 50px;
        height: 50px;
        float: left;
        margin: 10px;
    }

    .promo-block_btn {
        width: 250px;
        margin: 48px auto 0;
    }
    
    .usefull-info_top {
        max-width: 560px;
        margin: 0 auto 48px;
    }
    .usefull-info__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .usefull-info__block {
        max-width: 500px;
        padding: 20px;
        border: 2px solid var(--orange);
        margin-bottom: 30px;
    }

    .usefull-info__block h4 {
        color: var(--orange);
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .usefull-info .second-title {
        display: flex;
        justify-content: center;
        color: var(--orange);
        font-size: 28px;
        line-height: 36px;
        margin: 48px auto;
    }
    .usefull-info__mistakes {
        margin-bottom: 48px;
    }
    .usefull-info-slider {
        margin: 48px 0;
    }
    .swiper-slide_content {
        display: flex;
    }
    .swiper-slide_txt {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
        margin-right: 40px;
        font-size: 16px;
        line-height: 22px;
    }
    .swiper-slide_img {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .swiper-slide_img img {
        max-width: 350px;
        height: 350px;
    }
    .usefull-info-slider .swiper-button-prev {
        left: 50%;
    }
    .usefull-info-slider .swiper-button-prev::after {
        content: "\27F5";
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 4px;
        color: var(--black);
        border: 3px solid var(--black);
        border-radius: 25px;
        width: 100px;
        height: 40px;
    }
    .usefull-info-slider .swiper-button-next {
        margin-right: 15px;
    }
    .usefull-info-slider .swiper-button-next::after {
        content: "\27F6";
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 4px;
        color: var(--black);
        border: 3px solid var(--black);
        border-radius: 25px;
        width: 100px;
        height: 40px;
    }

    .advantages_top {
        max-width: 560px;
    }
    .advantages-blocks {
        display: flex;
        justify-content: center;
        height: 400px;
        width: 100%;
        position: relative;
        margin-bottom: 48px;
    }
    .advantages-blocks::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4;
        background-color: var(--shadow-black2);
    }
    .advantages-blocks img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        object-fit: cover;
    }
    .dvantages-blocks_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        padding: 0 20px;
    }
    .advantages-block {
        display: flex;
        align-items: center;
        position: relative;
    }
    .advantages-block p {
        font-size: 18px;
        line-height: 24px;
        position: absolute;
        left: 25px;
        z-index: 9;
    }

    .advantage-numbers {
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .advantage-num_block {
        display: flex;
        align-items: center;
        margin: 0 10px 20px;
    }
    .advantage-num_block p {
        width: 150px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .counter {
        font-size: 42px;
        font-weight: 900;
        color: var(--orange);
        text-shadow: 2px 2px 2px var(--shadow-black2);
        margin-right: 15px;
    }
    .testimonials_top {
        max-width: 560px;
        margin: 0 auto;
    }
    .testimonials-slider {
        display: flex;
        justify-content: center;
    }
    .testimonials-slider .swiper-button-next,
    .testimonials-slider .swiper-button-prev {
        color: var(--orange);
    }
    .testimonial {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .testimonial-user {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .testimonial-user_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 15px;
    }
    .testimonial-user_img img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    .testimonial-user_name {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .testimonial_txt {
        font-size: 16px;
        line-height: 24px;
    }
    .contact {
    }
    .contact_google-shedule > header {
        display: none;
    }

    .site-footer {
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        padding: 48px;
    }
    .site-footer_top {
        display: flex;
        margin-bottom: 48px;
    }
    .site-footer_column {
        flex: 1 1 33.333%;
        width: 100%;
    }
    .company-logo_f {
        display: block;
        width: 120px;
        margin-bottom: 30px;
    }
    .site-footer_contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .site-footer_contacts a,
    .site-footer_contacts a:visited,
    .site-footer__link a,
    .site-footer__link a:visited,
    .site-footer__navigation a,
    .site-footer__navigation:visited,
    .privacy-policy,
    .privacy-policy:visited,
    .copyright {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        color: var(--orange);
        margin-bottom: 10px;
    }
    .site-footer_contacts a:hover,
    .site-footer__link a:hover,
    .site-footer__navigation a:hover,
    .privacy-policy {
        color: var(--orange-hover);
    }
    .site-footer_messengers {
        display: flex;
        align-items: center;
    }
    .site-footer_messengers a {
        margin-right: 30px;
    }

    .site-footer_shedule p,
    .site-footer_shedule li {
        font-size: 18px;
        line-height: 26px;
        color: var(--orange);
        margin-bottom: 10px;
    }
    .site-footer_bottom {
        display: flex;
        justify-content: space-between;
    }
    .site-footer__navigation {
        display: flex;
        flex-direction: column;
    }

    #modal_window.active {
        display: flex;
    }
    .modal_form {
        max-width: 560px;
        background-color: var(--white);
        padding: 30px;
        position: relative;
        border: 2px solid var(--orange);
        -webkit-box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
        -moz-box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
        box-shadow: 6px 11px 22px 0px rgba(255, 157, 8, 0.52);
    }
    .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
    }
    .modal_close_btn span {
        font-size: 24px;
        font-weight: 600;
        color: var(--orange);
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: 1px solid var(--orange);
        padding: 5px;
    }
    .phone-group {
    }
    .input_phone {
    }
    .modal_form_title {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .modal_form_services {
        margin-bottom: 20px;
    }
    .modal_labels {
        display: flex;
        justify-content: space-between;
    }
    .modal_labels label {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    .modal_labels label input {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }
    #result {
        font-size: 18px;
        line-height: 24px;
        color: var(--orange);
        margin-bottom: 20px;
    }
    .form_button {
        height: 30px;
        margin: 20px auto 0;
    }
    .modal_politics_block {
    }
    .politics_label {
        display: flex;
        align-items: center;
    }
    .politics_label input {
        margin-right: 4px;
    }
    .politics_link {
        color: var(--orange);
        margin-left: 4px;
    }
}

@media (max-width: 1025px) {
    .site-header_all {
        max-width: 450px;
    }
    .site-header__top {
        flex-direction: column;
    }
    .header-right {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    .burger-icon {
        top: -90px;
        right: 40px;
    }
    /* color bg */
    .orange-bg {
        width: 200px;
        height: 100px;
        background-color: var(--orange);
        transform: skew(-20deg);
        position: relative;
        z-index: 1;
    }
    .parallelogram-bg {
        width: 200px;
        height: 120px;
    }
    .top-content_block {
        width: 200px;
    }
    .top-content_block-txt {
        flex-direction: column;
        width: 150px;
    }
    .top-content_block p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    .car-icon {
        width: 50px;
        height: 30px;
        margin-bottom: 10px;
    }
    .key-icon,
    .list-icon {
        width: 30px;
        height: 50px;
        margin-bottom: 5px;
    }
    .worker-info_img {
        width: 250px;
    }
    .worker-info_name {
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .worker-info_position,
    .worker-info_experiance {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }
    .worker-info_description {
        font-size: 14px;
    }
    .swiper-slide_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .swiper-slide_txt {
        width: 100%;
        order: 2;
    }
    .swiper-slide_img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .usefull-info-slider .swiper-button-prev {
        left: 30px;
    }
    .usefull-info-slider .swiper-button-prev,
    .usefull-info-slider .swiper-button-next {
        top: 375px;
    }
    .site-footer_top {
        flex-wrap: wrap;
    }
}
@media (max-width: 769px) {
    .burger-menu {
        top: 110px;
    }
    .burger-menu__navigation {
        width: 100%;
    }
    .burger-icon {
        top: -90px;
        right: 40px;
    
    }
    /* .company-logo-icon {
        width: 120px;
        height: 60px;
        fill: var(--orange);
    } */
    .company-logo_footer img {
        width: auto;
        height: 100px;
    }

    /* icons */

    .viber-icon,
    .telegram-icon,
    .whatsapp-icon {
        width: 25px;
        height: 25px;
        fill: var(--orange);
    }
    .tel-icon,
    .email-icon,
    .map-icon {
        width: 30px;
        height: 30px;
        fill: var(--orange);
    }

    .funnel-icon {
        width: 25px;
        height: 25px;
        fill: var(--orange);
    }
    .changeoil-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    .piston-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    .thermometr-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    .car-engine-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    .engineering-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    .fuel-icon {
        width: 40px;
        height: 60px;
        margin-right: 15px;
    }
    /* btns */
    .btn-black {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        padding: 10px 15px;
    }
    .btn-orange {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        padding: 15px 20px;
    }
}
@media (max-width: 640px) {
    .modal_labels{
        flex-direction: column;
    }
    .modal_labels label{
        margin-bottom: 8px;
    }
    #modal_window{
        top: -30px;
    }
    .second-title {
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .site-header_container {
        padding: 0 20px;
    }
    .footer-container {
        padding: 20px;
    }
    .site-footer_bottom{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-low{
        display: flex;
        flex-direction: column;
    }
    .public-offer-link{
        margin-left: 0;
    }
    .company-logo {
        width: 70px;
        height: 70px;
        margin-right: 30px;
    }
    .site-header_contacts {
        /* flex-direction: column; */
    }
    .header-right{
        margin-top: 0;
        position: relative;
    }
    #google_translate_element{
        position: relative;
        right: -5%;
    }
    .site-header_link {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 6px;
    }
    .tel-icon,
    .email-icon,
    .map-icon {
        width: 25px;
        height: 25px;
    }
    .burger-icon{
        top: -110px;
    }
    .burger-menu {
        top: 115px;
    }
}
@media (max-width: 480px) {
    .site-header {
        width: 100%;
        height: 80px;
        padding: 10px 0;
    }
    .company-logo {
        height: 70px;
        width: 70px;
        margin-right: 20px;
    }
    .goog-te-combo{
        width: 200px;
        height: 30px !important;
      }
    .burger-icon {
        right: 20px;
        top: -45px;
    }
    .goog-te-combo{
        height: 30px !important;
        background: var(--orange);
      }
    .burger-menu {
        padding: 10px 20px;  
    }
    .site-header_contacts,
    .site-header_messengers {
        display: none;
    }
    .burger_contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .burger-menu {
        top: 60px;
    }
   
    .header-right {
        /* justify-content: end; */
        margin-top: 10px;
    }
    .banner {
        height: 80px;
        top: 80px;
    }
    .banner p {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-right: 10px;
    }
    .banner-btn {
        width: 240px;
        height: 50px;
    }
    .site-container_first {
        position: relative;
        height: 600px;
    }
    .top-content_wiget {
        top: 270px;
    }
    .main-title {
        font-size: 32px;
        font-weight: 600;
    }
    .subtitle {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .btn-orange {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 10px 15px;
    }
  
    .top-content_block{
        width: 100px;
        background: var(--shadow-black2);
        align-items: start;
        padding-top: 15px;
    }
    .parallelogram-bg{
display: none;
    }
    .top-content_block-txt {
        flex-direction: column;
        width: 100px;
        position: relative;
        margin-left: 0;
    }
    .top-content_block p{
        font-size: 10px;
    }
    .about-company-block_txt {
        width: 150px;
        right: -15px;
    }
  
    .about-company-block_top {
        width: 100px;
    }
    .about-company_top p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    .about-company_row {
        margin: 0;
    }
    .usefull-info .second-title {
        font-size: 22px;
        line-height: 32px;
        margin: 0px auto 20px;
    }
    #modal_window {
        height: 600px;
    }
    .modal_form {
        max-width: 320px;
        padding: 25px 20px;
    }
    .modal_close_btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    #result,
    .modal_form_title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .dvantages-blocks_container {
        flex-direction: column;
        align-items: center;
    }
    .orange-bg {
        width: 290px;
        height: 140px;
    }
    .advantages-blocks {
        height: 650px;
    }
    .advantages-block {
        width: 280px;
        margin-bottom: 20px;
    }
    .advantages-block p {
        font-size: 14px;
    }
    .advantages-block:last-child {
        margin-bottom: 0;
    }
    .worker{
        width: 90%;
        height: 700px;
    }
    .site-footer_top {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
@media (max-width: 376px) {
    .goog-te-combo{
        width: 150px;
        height: 30px !important;
      }
    .burger-icon {
        right: 10px;
    }
    .site-footer_top {
        flex-direction: column;
    }
}
